# Current Node Environment
NODE_ENV= 'test' || 'production'

# Tokent Secret Used to Assign JTW Tokens
TOKEN_SECRET =

# Data Base credentials 
USER=
PASSWORD=


# Send-Email
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=example@outlook.com
EMAIL_PASSWORD=example
EMAIL_USERNAME=example <example@outlook.com>

